<div class="card">
    <div class="card-header">
        <h4>Regenerate Payment File</h4>
        <div class="card-header-right">
            <i class="icofont icofont-rounded-down"></i>
            <i class="icofont icofont-refresh"></i>
            <i class="icofont icofont-close-circled"></i>
        </div>
    </div>
    <div class="card-block" >
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col md-6">
                        <div class=" row">
                            <div class="col-sm-5 col-lg-4">
                                <label class="block" for="Scheme">Select Payment Type<label class="asterik">*</label>:</label>
                            </div>
                            <div class="col-sm-4 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="ion-arrow-down-b"></i></span>
                                    <select [(ngModel)]="paymentType" id="paymentType"
                                        class="form-control form-control-default" (change)="getAllScheme();" >
                                        <option value="">--Select--</option>
                                        <option value="subsidy"> Subsidy </option>
                                        <option value="incentive"> Incentive </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-5 col-lg-4">
                                <label class="block" for="Scheme">Select Scheme<label class="asterik">*</label>:</label>
                            </div>
                            <div class="col-sm-4 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="ion-arrow-down-b"></i></span>
                                    <select [(ngModel)]="SchemeId" id="Scheme"
                                        class="form-control form-control-default" (change)="getReferenceIDs();">
                                        <option value="" disabled>--Select--</option>
                                        <option [ngValue]="x" *ngFor="let x of AllSchemeData"> {{x.schemeName}} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-5 col-lg-4">
                                <label class="block" for="referenceId">Select Reference Id <label
                                        class="asterik">*</label>:</label>
                            </div>
                            <div class="col-sm-4 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="ion-arrow-down-b"></i></span>
                                    <select [(ngModel)]="referenceId" id="referenceId"
                                        class="form-control form-control-default">
                                        <option value="">--Select--</option>
                                        <option [ngValue]="x" *ngFor="let x of refNos"> {{ x.referenceno }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col md-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary float-right" id="primary-popover-content"
                    data-container="body" data-toggle="popover" title="Primary color states"
                    data-placement="bottom" (click)="generatePaymntFile()" [disabled]="this.SchemeId== null && this.referenceId == null"  >Generate Payment File</button>
            </div>
        </div>
    </div>
        <div class="card-block" *ngIf="stateplan" >
            <app-stateplan-payment-file [pymntDetails]="pymntFile" ></app-stateplan-payment-file>
        </div>
        <div class="card-block" *ngIf="pfsm">
            <app-pfms-payment-file [typeOfPayment]="paymentType" [pymntDetails]="pymntFile"></app-pfms-payment-file>
        </div>
        <!-- <div class="card-block">

            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <button class="btn btn-primary mat-elevation-z8 "><i class="ion-ios-upload"></i>Export To
                        Excel</button>
                </div>
            </div>
        </div> -->
   
</div>