<nav class="navbar header-navbar pcoded-header" header-theme="theme4">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0);">
                <i class="ti-menu"></i>
            </a>
            <a class="mobile-search morphsearch-search" href="javascript:void(0);">
                <i class="ti-search"></i>
            </a>
            <a>
                <img class="img-fluid adminPanelLog" src="assets/assets/default/assets/images/nfsm-logo.png" alt="Theme-Logo" />
            </a>
            <a>
                <h4 class="adminPanelHeader">e-Demonstration</h4>
            </a>
             
            <a class="mobile-options">
                <i class="ti-more"></i>
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <div>
                <ul class="nav-left">
                    <li>
                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                    </li>
                    <li>
                        <a onclick="javascript:toggleFullScreen()">
                            <i class="ti-fullscreen"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                   
                    <li class="user-profile header-notification">
                        <a href="javascript:void(0);">
                            <img src="assets/default/assets/images/user.png" alt="User-Profile-Image">
                            <span> {{ userName }} </span>
                            <i class="ti-angle-down"></i>
                        </a>
                        <ul class="show-notification profile-notification">
                            <li>
                                <a (click)="changePassword();" href="javascript:void(0);" >
                                    <i class="ti-key"></i>Change Password
                                </a>
                            </li>
                            <li>
                                <a (click)="signOut()" href="javascript:void(0);" >
                                    <i class="ti-layout-sidebar-left"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>