
<div class="card">
    <div class="container">
        <div class="card rectangle " style="width: 30%;background-color:chartreuse;">
            <div class="card-block">
                <h2 class="card-title">DEMONSTRATION ID</h2>
                <h5 class="card-title">{{ DemonstrationIdCount.totaldemonstrationid }} </h5>
            </div>
        </div><br>
        <div class="card rectangle " style="width: 30%;background-color:bisque;">
            <div class="card-block">
                <h2 class="card-title" >TOTAL FARMER INVOLVED</h2>
                <h5 class="card-title">{{ DemonstrationIdCount.totalfarmer }} </h5>
            </div>
        </div>
    <ol class="level-2-wrapper">
      <li>
        <div class="card rectangle" style="margin-right: 10px;background-color:aqua;">
            <div class="card-block">
                <h2  class="card-title" >FARMER (GEN)</h2>
                <h5 class="card-title">{{ DemonstrationIdCount.GenFarmer }} </h5>
            </div>
        </div>
      </li>
      <li>
        <div class="card rectangle" style="background-color:aqua;">
            <div class="card-block">
                <h2 class="card-title">FARMER (SC)</h2>
                <h5 class="card-title">{{ DemonstrationIdCount.SCFarmer }} </h5>
            </div>
        </div>
      </li>
      <li>
           <div class="card rectangle" style="margin-left: 10px;background-color:aqua;">
            <div class="card-block">
                <h2 class="card-title" >FARMER (ST)</h2>
                <h5 class="card-title">{{ DemonstrationIdCount.STFarmer }} </h5>
            </div>
        </div>
      </li>
    </ol>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="card rectangle " style="width: 30%;background-color:bisque;">
      <div class="card-block">
          <h2 class="card-title" >TOTAL COST RELEASED</h2>
          <h5 class="card-title">{{ totalInputCostReleased || 0 }} </h5>
      </div>
  </div>
<ol class="level-2-wrapper">
  <li>
    <div class="card rectangle" style="margin-right: 10px;background-color:aqua;">
        <div class="card-block">
            <h2 class="card-title" >INPUT COST RELEASED (NFSM)</h2>
            <h5 class="card-title"> {{ totalSubsidyReleasedNFSM || 0 }} </h5>
        </div>
    </div>
  </li>
  <li>
    <div class="card rectangle" style="background-color:aqua;">
        <div class="card-block">
            <h2 class="card-title">INPUT COST RELEASED (NFSM-OS)</h2>
            <h5 class="card-title">{{ totalSubsidyReleasedNFSMOS || 0 }} </h5>
        </div>
    </div>
  </li>
  <li>
       <div class="card rectangle" style="margin-left: 10px;background-color:aqua;">
        <div class="card-block">
            <h2 class="card-title">INPUT COST RELEASED (STATE PLAN)</h2>
            <h5 class="card-title"> {{ totalSubsidyReleasedStatePlan || 0 }}</h5>
        </div>
    </div>
  </li>
</ol>
</div>
<br>
<br>
<div style="display: block;">
<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
[options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [colors]="pieChartColors">
</canvas>
</div>
</div>