<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="ModifyItemForm">
                    <div class="card-header">
                        <span>Item Details</span>
                        <div class="card-header-right">
                            <i class="icofont icofont-rounded-down"></i>
                            <i class="icofont icofont-refresh"></i>
                            <i class="icofont icofont-close-circled"></i>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="FinYear">Financial Year<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <select  formControlName="FinYear" id="FinYear" class="form-control form-control-default" (change)="getAllScheme()" >
                                                    <option value="">--Select--</option>
                                                    <option [ngValue]="x" *ngFor="let x of FinYears"> {{ x }} </option>
                                                </select>
                                                <div class="text-danger" *ngIf="ModifyItemFormValid.FinYear.touched && !ModifyItemFormValid.FinYear.valid">
                                                    Financial Year is required.
                                                  </div>  
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="scheme">Scheme<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <select formControlName="scheme" id="scheme"
                                                    class="form-control form-control-default" (change)="getSubscheme();">
                                                    <option value="" disabled>--Select--</option>
                                                    <option [ngValue]="x" *ngFor="let x of AllSchemeData">{{ x.schemeName }}</option>
                                                </select>
                                                <div class="text-danger" *ngIf="ModifyItemFormValid.scheme.touched && !ModifyItemFormValid.scheme.valid">
                                                    Scheme is required.
                                                  </div> 
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="subscheme">Subscheme<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <select formControlName="subscheme" id="subscheme"
                                                    class="form-control form-control-default" (change)="getComponent();">
                                                    <option value="" disabled>--Select--</option>
                                                    <option [ngValue]="x" *ngFor="let x of SubschemeData">{{ x.SubschemeName }}</option>
                                                </select>
                                                <div class="text-danger" *ngIf="ModifyItemFormValid.subscheme.touched && !ModifyItemFormValid.subscheme.valid">
                                                    Subscheme is required.
                                                  </div> 
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="component">Component <label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <select formControlName="componentName" id="component"
                                                    class="form-control form-control-default" (change)="getItemDetails()" >
                                                    <option value="">--Select--</option>
                                                    <option [ngValue]="x" *ngFor="let x of ComponentData">
                                                        {{ x.CompName }}
                                                    </option>
                                                </select>
                                                <div class="text-danger" *ngIf="ModifyItemFormValid.componentName.touched && !ModifyItemFormValid.componentName.valid">
                                                    Component is required.
                                                  </div> 
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="item">Item<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <select formControlName="itemName" id="item"
                                                class="form-control form-control-default" (change)="getItemCostAndSize()" >
                                                <option value="">--Select--</option>
                                                <option [ngValue]="x" *ngFor="let x of ItemDtails">
                                                    {{ x.ItemName }}
                                                </option>
                                            </select>
                                            <div class="text-danger" *ngIf="ModifyItemFormValid.itemName.touched && !ModifyItemFormValid.itemName.valid">
                                                Item is required.
                                              </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="itemType">Item type<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <select formControlName="itemType" id="itemType" class="form-control form-control-default" (change)="getAllCrops()" >
                                                    <option value="" disabled>--Select--</option>
                                                    <option value="1"> All Pesticides/Micronutrients/Weedicide/Herbicides/Fertilizers </option>
                                                    <option value="2"> Bund Plantation </option>
                                                    <option value="11"> Light Trap </option>
                                                    <option value="22"> Seeds </option>
                                                    <option value="3"> Incentive </option>
                                                    <option value="0"> Others </option>
                                                </select>
                                                <div class="text-danger" *ngIf="ModifyItemFormValid.itemType.touched && !ModifyItemFormValid.itemType.valid">
                                                    Itemtype is required.
                                                  </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="indicativeCost">Indicative Cost<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <input type="number" min="0" formControlName="indicativeCost"
                                                    class="form-control form-control-default" />
                                                    <div class="text-danger" *ngIf="ModifyItemFormValid.indicativeCost.touched && !ModifyItemFormValid.indicativeCost.valid">
                                                        Indicative Cost is required.
                                                      </div>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="itemPackageSize">Package Size<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <input type="number" min="0" formControlName="itemPackageSize"
                                                    class="form-control form-control-default" />
                                                    <div class="text-danger" *ngIf="ModifyItemFormValid.itemPackageSize.touched && !ModifyItemFormValid.itemPackageSize.valid">
                                                        Package Size is required.
                                                      </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="unit">Unit<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <select formControlName="itemUnit" id="unit"
                                                    class="form-control form-control-default">
                                                    <option value="" disabled>--Select--</option>
                                                    <option value="kg/ha">kg/ha</option>
                                                    <option value="gm/ha">gm/ha</option>
                                                    <option value="ml/ha">ml/ha</option>
                                                    <option value="lit/ha">lit/ha</option>
                                                </select>
                                                <div class="text-danger" *ngIf="ModifyItemFormValid.itemUnit.touched && !ModifyItemFormValid.itemUnit.valid">
                                                    Unit is required.
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="block" for="status">Status<label class="asterik">*</label>:</label>
                                            </div>
                                            <div class="col-sm-4 col-lg-8">
                                                <select formControlName="status" id="status" class="form-control form-control-default">
                                                    <option value="" disabled>--Select--</option>
                                                    <option value="1"> Actice</option>
                                                    <option value="0"> Inactive </option>
                                                </select>
                                                <div class="text-danger" *ngIf="ModifyItemFormValid.status.touched && !ModifyItemFormValid.status.valid">
                                                    Status is required.
                                                  </div>
                                            </div>
                                        </div>

                                    </div>
                                        <div class="col-lg-4 col-md-4" *ngIf="this.ModifyItemForm.value.itemType == '22'">
                                            <div class="form-group row">
                                                <div class="col-sm-4 col-lg-4">
                                                    <label class="block" for="item">Crop Catagory<label class="asterik">*</label>:</label>
                                                </div>
                                                <div class="col-sm-4 col-lg-8">
                                                    <select formControlName="cropCatagory" id="cropCatagory"
                                                    class="form-control form-control-default" (change)="getSubCrops()">
                                                    <option value="">--Select--</option>
                                                    <option [ngValue]="x" *ngFor="let x of AllCropData">
                                                        {{ x.CropName }}
                                                    </option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4" *ngIf="this.ModifyItemForm.value.itemType == '22'">
                                            <div class="form-group row">
                                                <div class="col-sm-4 col-lg-4">
                                                    <label class="block" for="item">Crop<label class="asterik">*</label>:</label>
                                                </div>
                                                <div class="col-sm-4 col-lg-8">
                                                    <select formControlName="crop" id="crop"
                                                    class="form-control form-control-default">
                                                    <option value="">--Select--</option>
                                                    <option [ngValue]="x" *ngFor="let x of SubCropData">
                                                        {{ x.SubCropName }}
                                                    </option>
                                                </select>
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-lg-4 col-form-label">Edit :</label>
                                                <div class="col-sm-4 col-lg-8">
                                                    <mat-icon color="success" (click)="edit()" >create</mat-icon>
                                                </div>
    
                                            </div>
                                        </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-block">
                    <button type="button" class="btn btn-primary" style="float: right;" [disabled]="!ModifyItemForm.valid" (click)="updateItemDetails()" > Update 
                    </button><br><br>
                </div>


            </div>
        </div>
    </div>
</div>
