
    <mat-tab-group animationDuration="0ms">
       <mat-tab label="Verification Of Dealer Sale">

          <div class="card">
            <div class="card-block">
            <form [formGroup]="BlockAndSchemeForm">
                <div class="row">
                    <label class="col-sm-3 col-lg-3 col-form-label">Financial Year *:</label>
                    <div class="col-sm-6 col-lg-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="ion-arrow-down-b"></i></span>
                            <select class="form-control" formControlName="FinYear" (change)="getBlocks()">
                                <option value="">--Select--</option>
                                <option [ngValue]="x" *ngFor="let x of FinYears">
                                    {{ x }}
                                </option>
                            </select>
                            <div class="text-danger" *ngIf="BlockSchemeFormValid.FinYear.touched && !BlockSchemeFormValid.FinYear.valid">
                                Financial Year is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 col-lg-3 col-form-label">Select Block *:</label>
                    <div class="col-sm-6 col-lg-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="ion-arrow-down-b"></i></span>
                            <select class="form-control" formControlName="block">
                                <option value="" >--Select--</option>
                                <option [ngValue]="x.Block_Code" *ngFor="let x of BlockData"> {{x.Block_Name}} </option>
                            </select>
                            <div class="text-danger" *ngIf="BlockSchemeFormValid.block.touched && !BlockSchemeFormValid.block.valid">
                                Block is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-4">
                        <!-- <button type="button" class="btn btn-primary" id="primary-popover-content" data-container="body"
                            data-toggle="popover" title="Primary color states" data-placement="bottom">Pending For Appro
                            </button> -->
                            <label>Pending For Approval : {{ countPending }}</label>
                    </div>

                </div>                
                <div class="row">
                    <label class="col-sm-3 col-lg-3 col-form-label">Select Scheme *:</label>
                    <div class="col-sm-9 col-lg-9">
                        <mat-radio-group aria-label="Select an option" formControlName="scheme" (change)="getSubscheme();">
                            <!-- <mat-radio-button value="1">All Scheme</mat-radio-button> -->
                            <mat-radio-button value="2">NFSM</mat-radio-button>
                            <mat-radio-button value="3">NFSM-OS</mat-radio-button>
                            <mat-radio-button value="4">STATE PLAN</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div><br>
                <div *ngIf="subschemeCompDiv">
                    <div class="row">
                        <label class="col-sm-3 col-lg-3 col-form-label">Select Subscheme *:</label>
                        <div class="col-sm-6 col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ion-arrow-down-b"></i></span>
                                <select class="form-control" formControlName="subScheme" (change)="getComponent();" >
                                    <option value="" >--Select--</option>
                                    <option [ngValue]="x.SubschemeId" *ngFor="let x of SubschemeData"> {{ x.SubschemeName }} </option>
                                </select>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-lg-3 col-form-label">Select Component *:</label>
                        <div class="col-sm-6 col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ion-arrow-down-b"></i></span>
                                <select class="form-control" formControlName="component">
                                    <option value="" >--Select--</option>
                                    <option [ngValue]="x.CompId" *ngFor="let x of ComponentData"> {{ x.CompName }}  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
                <div class="row">
                    <div class="col-sm-3 col-lg-3"></div>
                    <div class="col-sm-9 col-lg-9">
                        <button type="button" class="btn btn-primary" id="primary-popover-content" data-container="body"
                        data-toggle="popover" title="Primary color states" data-placement="bottom"
                        (click)="getAllDealerSale();" [disabled]="!BlockAndSchemeForm.valid">
                        Get Sale List
                        </button>  
                    </div>

                </div>
            </div>  
          </div>

          <div class="card" *ngIf="dealerlistTable"> 
            <div class="card-header">
                <h5>Sale Details</h5>
            </div>
            <div class="card-block">
                <div class="card-block table-border-style">
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filterTerm">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>
                                        <mat-checkbox class="example-margin" [checked]="allComplete" 
                                            [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                                        </mat-checkbox> Select All
                                    </th>
                                    <th>Permit No</th>
                                    <th>Invoice No</th>
                                    <th>Farmer Id</th>
                                    <th>Account No</th>
                                    <th>IFSC Code</th>
                                    <th>Total Sale Price</th>
                                    <th>Total Eligible Amount</th>
                                    <th>Catagory</th>
                                    <th>Sale Details</th>
                                    <!-- <th>Reject</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of allDealerSaleResult | filter: filterTerm ; let i = index;">
                                    <th scope="row"> {{i+1}} </th>
                                    <th>
                                        <mat-checkbox [(ngModel)]="x.completed" (ngModelChange)="updateAllComplete()">
                                        </mat-checkbox>
                                    </th>
                                    <td > {{ x.Permit_NO }} </td>
                                    <td > {{ x.InvoiceNo }} </td>
                                    <td > {{ x.FarmerId }} </td>
                                    <td > {{ x.AccountNo }} </td>
                                    <td > {{ x.IFSC }} </td>
                                    <td > {{ x.totalsaleprice | number : '1.2-2'}} </td>
                                    <td > {{ x.totaleligiblesubsidy | number : '1.2-2' }} </td>
                                    <td > {{ x.Farmer_Category }} </td>
                                    <td><button class="btn btn-success btn-round" (click)="openDialog(x);">View </button></td>
                                    <!-- <td><button class="btn btn-info btn-round">Reject</button></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div *ngIf="message">
                  <h4 style="text-align: center; color: red;">There is no delear sale for approve in this district.</h4>
                </div><br>
                <div class="card-block" *ngIf="showApprove">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <button type="button" class="btn btn-primary mat-elevation-z8" style="float: right;" [disabled]="!forwardButton" (click)="returnbackDealerSaleToBAO()">
                                Return To BAO
                             </button> -->
                            <button class="btn btn-success mat-elevation-z8" [disabled]="!forwardButton" (click)="approveDealerSale();" style="float: right; margin-inline-end: 15px;" >Approve</button>&nbsp; &nbsp;
                          
                        </div>
                    </div>
                </div>
            </div>
          </div>
           
       </mat-tab>

       <mat-tab label="Approved Invoice Lists"><app-approved-dealer-sale-lists></app-approved-dealer-sale-lists></mat-tab>

       <!-- <mat-tab label="Returned Invoice Lists"><app-returned-dealer-sale></app-returned-dealer-sale></mat-tab> -->

    </mat-tab-group>





