<div class="page-body">
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card client-blocks dark-primary-border">
                <div class="card-block">
                    <h2 class="text-primary" style="font-weight:500;" >DEMONSTRATION ID</h2>
                    <ul>
                        <li>
                            <!-- <i class="ion-ios-personadd"></i> -->
                        </li>
                        <li class="text-right">
                            {{ DemonstrationIdCount.totaldemonstrationid }} <br> <br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card client-blocks warning-border">
                <div class="card-block">
                    <h2 class="text-primary" style="font-weight:500;" >FARMER INVOLVED</h2>
                    <ul>
                        <li>
                            <i class="ion-ios-people text-warning"></i>
                        </li>
                        <li class="text-right text-warning">
                            {{ DemonstrationIdCount.totalfarmer }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card client-blocks success-border">
                <div class="card-block">
                    <h2 class="text-primary" style="font-weight:500;" >FARMER (GEN)</h2>
                    <ul>
                        <li>
                            <i class="icon-people text-success"></i>
                        </li>
                        <li class="text-right text-success">
                            {{ DemonstrationIdCount.GenFarmer }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card client-blocks dark-primary-border">
                <div class="card-block">
                    <h2 class="text-primary" style="font-weight:500;" >FARMER (SC) </h2>
                    <ul>
                        <li>
                            <i class="icon-people"></i>
                        </li>
                        <li class="text-right">
                            {{ DemonstrationIdCount.SCFarmer }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card client-blocks warning-border">
                <div class="card-block">
                    <h2 class="text-primary" style="font-weight:500;" >FARMER (ST) </h2>
                    <ul>
                        <li>
                            <i class="icon-people text-warning"></i>
                        </li>
                        <li class="text-right text-warning">
                            {{ DemonstrationIdCount.STFarmer }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card client-blocks success-border">
                <div class="card-block">
                    <h2 class="text-primary" style="font-weight:500;" >SUBSIDY RELEASED (NFSM)</h2>
                    <ul>
                        <li>
                            <i class="fa fa-inr text-success"></i>
                        </li>
                        <li class="text-right text-success">
                            {{ totalSubsidyReleasedNFSM || 0 }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card client-blocks dark-primary-border">
                <div class="card-block">
                    <h2 class="text-primary" style="font-weight:500;" > SUBSIDY RELEASED (NFSM-OS)</h2>
                    <ul>
                        <li>
                            <i class="fa fa-inr"></i>
                        </li>
                        <li class="text-right">
                            {{ totalSubsidyReleasedNFSMOS || 0 }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card client-blocks success-border">
                <div class="card-block">
                    <h2 class="text-primary" style="font-weight:500;" > SUBSIDY RELEASED (STATE PLAN)</h2>
                    <ul>
                        <li>
                            <i class="fa fa-inr text-success"></i>
                        </li>
                        <li class="text-right text-success">
                            {{ totalSubsidyReleasedStatePlan || 0 }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

