<div class="card" >
  <div class="card-block" *ngIf="targetClose">
  <div>
    <h3 style="color: red; align-items: center !important;">Target has been ended for now as Target distribution on District level is open now. Target distribution will again open on 13th June after 4pm.</h3>
  </div>
  </div>
  <div *ngIf="!targetClose">
  <div class="card-header" *ngIf="showschemeDetailsCard" >
    <h5>Set Target</h5>
    <span>Set target for GP</span>
    <div class="card-header-right">
      <i class="icofont icofont-rounded-down"></i>
      <i class="icofont icofont-refresh"></i>
      <i class="icofont icofont-close-circled"></i>
    </div>
  </div>

 

  <form [formGroup]="gpTargetForm">
    <div class="card-block">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-lg-6 col md-6">

              <div class="form-group row">
                <div class="col-sm-4 col-lg-3">
                  <label class="block" for="Financialyear"> Financial Year <label class="asterik">*</label>:</label>
                </div>
                <div class="col-sm-4 col-lg-9">
                    <select formControlName="FinYear" id="FinYear" class="form-control form-control-default" (change)="getAllScheme()">
                      <option value="" >--Select--</option>
                      <option [ngValue]="x" *ngFor="let x of FinYears">
                        {{ x }}
                      </option>
                    </select>
                    <div class="text-danger" *ngIf="GPFormValid.FinYear.touched && !GPFormValid.FinYear.valid">
                      Financial Year is required.
                    </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-4 col-lg-3">
                  <label class="block" for="subscheme">Subscheme <label class="asterik">*</label>:</label>
                </div>
                <div class="col-sm-4 col-lg-9">
                  <select id="subscheme" class="form-control form-control-default" (change)="getComponent();"
                    formControlName="subscheme">
                    <option value="" disabled>--Select--</option>
                    <option [ngValue]="x" *ngFor="let x of SubschemeData">{{ x.SubschemeName }}</option>
                  </select>
                  <div class="text-danger" *ngIf="GPFormValid.subscheme.touched && !GPFormValid.subscheme.valid">
                    Subscheme is required.
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-6 col md-6">
              <div class="form-group row">
                <div class="col-sm-4 col-lg-3">
                  <label class="block" for="fuel">Scheme <label class="asterik">*</label>:</label>
                </div>
                <div class="col-sm-4 col-lg-9">
                  <select id="scheme" class="form-control form-control-default" (change)="getSubscheme();"
                    formControlName="scheme">
                    <option value="" disabled>--Select--</option>
                    <option [ngValue]="x" *ngFor="let x of AllSchemeData">{{ x.schemeName }}</option>
                  </select>
                  <div class="text-danger" *ngIf="GPFormValid.scheme.touched && !GPFormValid.scheme.valid">
                    Scheme  is required.
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-4 col-lg-3">
                  <label class="block" for="component">Component <label class="asterik">*</label>:</label>
                </div>
                <div class="col-sm-4 col-lg-9">
                  <select id="component" class="form-control form-control-default" formControlName="component" >
                    <option value="" disabled>--Select--</option>
                    <option [ngValue]="x" *ngFor="let x of ComponentData">{{ x.CompName }}</option>
                  </select>
                  <div class="text-danger" *ngIf="GPFormValid.component.touched && !GPFormValid.component.valid">
                    Component is required.
                  </div>
                </div>
              </div>
  
  
            </div>
          </div>
        </div>
      </div>
  
    </div>

  </form>
  <div  style="padding: 20px;">
    <button #btn  type="button" class="btn btn-primary
    mat-elevation-z8" (click)="getBlockTarget();" style="float: right;" [disabled]="!gpTargetForm.valid">Get Target <i class="ion-arrow-right-c"
    aria-hidden="true" ></i></button>
 
    <br>
    <br>
  </div>
</div>
</div>


<!-- ===================================STEPPER=============================================== -->

<div class="page-body" *ngIf = "showDemonstrationPatch">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Select Patch to create Demonstration</h5>
          <span>Fill all details properly and create Demonstration</span>
          <div class="card-header-right">
            <i class="icofont icofont-rounded-down"></i>
            <i class="icofont icofont-refresh"></i>
            <i class="icofont icofont-close-circled"></i>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-12">
              <mat-horizontal-stepper [linear]="false" #stepper *ngIf="assigngptovaw">
                <mat-step [optional]="false">
                  <ng-template matStepLabel role="tab" aria-selected="true">Assign GP to VAW</ng-template>
                  <app-select-patch [GpTargetDetails]="SelectedGpTargetDetails" [GpFormDetails]="gpTargetForm"></app-select-patch>
                  <div class="footer-buttons">
                    <!-- <button class="btn btn-primary float-right" matStepperNext (click)="proceedToChooseModel();" [disabled]="!isFarmerValid">Proceed</button> -->
                    <button (click)="step2 = true; target = true"  class="btn btn-primary mat-elevation-z8"
                      matStepperNext>Proceed <i class="icofont icofont-arrow-right"></i> </button>
                  </div><br>
                  <button  class="btn btn-primary  mat-elevation-z8" style="float: left;" (click)="back()" ><i class="ion-arrow-left-c"
                    aria-hidden="true" ></i>Back</button>
                </mat-step>
                <mat-step *ngIf="target">
                  <ng-template matStepLabel role="tab" aria-selected="true" >Target Allocation</ng-template>
                  <app-target-allocation *ngIf="step2" [GpTargetDetails]="SelectedGpTargetDetails" [GpFormDetails]="gpTargetForm"></app-target-allocation>
                  <div class="footer-buttons">
                    <button class="btn btn-primary mat-elevation-z8" matStepperPrevious><i
                        class="icofont icofont-arrow-left"></i>Previous</button>
                    &nbsp;&nbsp;
                    <button (click)="SelectedPatch();" class="btn btn-primary mat-elevation-z8" matStepperNext>Next<i
                        class="icofont icofont-arrow-right"></i></button>
                  </div>
                </mat-step>
                <mat-step *ngIf="createDemo">
                  <ng-template matStepLabel role="tab" aria-selected="true" >Create Demonstration</ng-template>
                  <app-generate-demonstration *ngIf="step3" [GpTargetDetails]="SelectedGpTargetDetails"></app-generate-demonstration>
                  <div class="footer-buttons" *ngIf="step3">
                    <button class="btn btn-primary mat-elevation-z8" matStepperPrevious><i
                        class="icofont icofont-arrow-left"></i>Previous</button>
                    &nbsp;&nbsp;
                    <button [disabled]="clicked" (click)=" SubmitDemonstrationPatch(); step4 = true;" class="btn btn-primary mat-elevation-z8" matStepperNext>Submit</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>